footer.footer
	nav.footer__nav
		.container
			ul.footer__list
				li.footer__item: a.footer__anchor(href='#') About us
				li.footer__item: a.footer__anchor(href='#') Contact
				li.footer__item: a.footer__anchor(href='#') Terms of services

	a.footer__link(href='http://fairpixels.co/', target='_blank' title='Fairpixels')
	video.footer__video(autoplay, loop)
		source(src="http://fairpixels.co/vid/MP4/Fairpixels.mp4", type="video/mp4")
		source(src="http://fairpixels.co/vid/WEBM/Fairpixels.webm", type="video/webm")
		| Your browser does not support the video tag. I suggest you upgrade your browser.