header.header
	.container
		img.brand(src=dist.img + '/brand.svg', alt=site.name)

		h1.description MINIMAL &amp; READY LOGOS
		h2.description Download a Free logo from the open source library below, or purchase a unique mark for your project, where you alone get the exclusive rights to use it.

		form.newsletter(action='#')
			input.newsletter__input(type='email', placeholder='Your email address')
			button.newsletter__submit(type='submit') Get weekly free logos