-
	var config = {
		responsive: true,
		favicon: true
	}

	var site = {
		name: 'Logodust',
		description: 'Free Logo Designs For Your Startup',
		color: '#4F52D2',
		version: '0.1.0',
		logos: 47
	}
	
	var dist = {
		img: 'dist/img',
		css: 'dist/css',
		js: 'dist/js'
	}