-
	var user = {
		in: true,
		name: 'Terry Berry',
		username: 'te2rybe2ry',
		avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/leemunroe/128.jpg',
		email: 'terry.berry26@example.com',
		birthday: '4/2/1978',
		password: 'ne1469'
	}

	var users = {
		uno: {
			name: 'James Anderson',
			username: 'jsa',
			avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg'
		},
		dos: {
			name: 'Vlada Bazhan',
			username: 'vladabazhan',
			avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/vladabazhan/128.jpg'
		},
		tres: {
			name: 'Zack Onisko',
			username: 'zack415',
			avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/zack415/128.jpg'
		},
		cuatro: {
			name: 'Sauro',
			username: 'sauro',
			avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg'
		}
	}

	var articles = {

		1: 'أزمة سياسة أم أزمة دولة ؟',
		
		2: 'لفتيت مول لفضاي­ح ديال “السي دي جي” ق­دم الاستقالة',
		
		3: 'اليازغي: الانتقال الديمقراطي في غرفة الانتظار واستغرب كيفاش بنكيران لم يتحدث عن ملكية برلمانية',
			
		4: 'وفينك يا بوريطة خرج دابا تنفعك لوموند. ياك كلنا ليك راه غير كتخربق وتفاهم دابا مع زوما. اليوم خارج علينا كتشكي وتبكي وبعد انت وفعفاعك راكم طلعتو ما فيديكمش',
			
		5: 'بنكيران من مقر حزب الاستقلال: حنا متافقين بثلاثة، وتسناو الاخر شنو يدير',
			
		6: 'نجل رئيس مؤسسة “الصباح” و”ليكونوميست” مات فكسيدة فالهند اللي كان كيدير فيها ربورطاج',
			
		7: 'شوفو وحكمو. المغرب: انا مستثمر ف15 دولة افريقية. الجزائر: انا غادية نفرق لفلوس حب وكاع الديون للي كنسالوها ليكم يا الافارقة الله يسامح ولكن بهاد الشرط',
			
		8: 'عمليات تفتيش بسويسرا على خلفية مونديال 2006 لي تخون من المغرب وتعطا لألمانيا',
			
	}